/*.o
/time_of_t0.txt
/.deps/*.Po
/autom4te.cache/*
/Makefile
/Makefile.in
/aclocal.m4
/build-aux/compile
/build-aux/depcomp
/build-aux/install-sh
/build-aux/missing
/config.log
/config.status
/configure
/.deps/segment.Tpo
/.Rhistory
/test_data_tmp
/test_data_andy
/test_data_tmp2

test_data_rtcc/
